
.react-multi-carousel-list{display:flex;align-items:center;overflow:hidden;position:relative}
.react-multi-carousel-track{
    list-style:none;padding:0;margin:0;display:flex;flex-direction:row;
    position:relative;transform-style:preserve-3d;backface-visibility:hidden;will-change:transform,transition
}
.react-multiple-carousel__arrow{
    position:absolute;outline:0;transition:all .5s;border-radius:35px;z-index:1000;border:0;background:rgba(0,0,0,0.5);
    min-width:43px;min-height:43px;opacity:1;cursor:pointer
}
.react-multiple-carousel__arrow:hover{background:rgba(0,0,0,0.8)}
.react-multiple-carousel__arrow::before{
    font-size:20px;color:#fff;
    display:block;
    font-family:revicons;
    text-align:center;
    z-index:2;
    position:relative
}
.react-multiple-carousel__arrow:disabled{cursor:default;background:rgba(0,0,0,0.5)}
.react-multiple-carousel__arrow--left{left:calc(4% + 1px)}
.react-multiple-carousel__arrow--left::before{content:"\e824"}
.react-multiple-carousel__arrow--right{right:calc(4% + 1px)}
.react-multiple-carousel__arrow--right::before{content:"\e825"}
.react-multi-carousel-dot-list{
    position:relative;
    display:flex;
    left:0;right:0;
    justify-content:center;
    margin:auto;
    margin:0;
    list-style:none;
    text-align:center
}
.react-multi-carousel-dot button{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;
    transition: all .5s;
    padding: 0;
    margin: 0;
    margin-right: 16px;
    margin-left: 9px;
    cursor: pointer;
    border: 0;
    background: rgba(200,0,0,0.5);
}

.react-multi-carousel-dot button:hover{
    background-color: #DA282D;
}

.react-multi-carousel-dot--active button{
    border: 0;
    background: rgba(218,40,45,1);
    
}
.react-multi-carousel-item{transform-style:preserve-3d;backface-visibility:hidden}
@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){
    .react-multi-carousel-item{flex-shrink:0 !important}
    .react-multi-carousel-track{overflow:visible !important}
}

.merchant-slider{
    position: relative;
    margin: auto;
    width: 60%;
    height: 100%;
    display: block;

    &.clear{
        width: 100%;
    }
}
.merchant-wrapper{
    padding: 20px;
    margin: 10px;
    box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.03);
    border-radius: 10%;
    img{
        width: 60px;
        height: 60px;
        margin: auto;
        display: block;    
    }
    &.clear{
        padding: 10px;
        img{
            height: 40px;
            width: 60px;
        }
    }
} 


.react-multiple-carousel__arrow {
    // background: url("/img/arrows.png") -256px 0px no-repeat !important;
}

.react-multiple-carousel__arrow--left{
    left: calc(4% + 1px)
}

.react-multiple-carousel__arrow--right{
    right: calc(4% + 1px)
}