
.checkbox-hierarchy {

  .checkbox-btn__checkbox-custom {
    margin-left: 3px;
  }

  .checkbox-btn {
    display: inline-block !important;
  }

  .lnr {
    margin-top: 2px;
    font-size: 12px;
    width: 18px;
    display: inline-block;
    z-index: 99999;
    background: #fff;
    border: 1px solid #fff;
    outline : none;
    color : transparent;
    text-shadow : 0 0 0 #000;
    cursor: pointer;
  }

  .children-checkbox-hierarchy {
    margin-left: 25px;

    .checkbox-btn__label {
    }
  }

  .collapsed_checkbox {
    display: none;
  }

}
.checkbox-hierarchy.collapsed_checkbox {
  display: none;
}

.hierarchy_visible {
  & > .form__form-group-input-wrap {
    > span.lnr {
      transform: rotate(90deg);
    }
  }
}
.checkbox-hierarchy-wrap.hierarchy_visible {
  > span.lnr {
    transform: rotate(90deg);
  }
  .array-wrap {
    display: block;
  }
}

.checkbox-hierarchy-wrap {
  .array-wrap {
    position: absolute;
    border-radius: 4px;
    min-width: 240px;
    background: #fff;
    padding: 7px 10px 10px 25px;
    z-index: 999999;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    display: none;
  }
  .form__form-group-input-wrap {
    display: block;
  }
}

