@font-face {
    font-family: 'CircularStdMedium';
    src: local('MyFont'), url(../../../public/theme/classic/fonts/CircularStd-Medium.ttf) format('ttf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
    font-style: normal;
}
@font-face {
  font-family: 'CircularStdBlack';
  src: local('MyFont'), url(../../../public/theme/classic/fonts/CircularStd-Black.ttf) format('ttf');
}
@font-face {
  font-family: 'CircularStdBook';
  src: local('MyFont'), url(../../../public/theme/classic/fonts/CircularStd-Book.ttf) format('ttf');
}
@font-face {
  font-family: 'CircularStdBold';
  src: local('MyFont'), url(../../../public/theme/classic/fonts/CircularStd-Bold.ttf) format('ttf');
  font-weight: bold;
}