@import './variable.scss';

body {
    background-color: #FFFFFF !important;
  }

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

main{
    min-height: calc(100vh - 130px);
}
//scroll bar
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #333;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

//common
a{
    text-decoration: none;
    color: black;    
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    li{
        float: left;
    }
}
.row{
    margin-top: 1rem;
}

//basic component
.btn-round{
    background-color: $red-color;
}
.btn-rect{
    background-color: $red-color;
    border: 0;
}

.panel{
    margin-top: 10px;
    box-shadow: 0 2px 15px 10px rgba(0, 0, 0, 0.05);
}
.matching{
    display: flex;
    padding: 7px 13px;
    justify-content: space-between;
}
.black{
    background-color: black;
    color: white;
}
.red{
    background-color: $red-color;
    border: $red-color;
    color: white;
}
.yellow{
    background-color: $yellow-color;
    border: $yellow-color;
    color: white;
}
.redtext{
    color: $red-color;
}
.cursor-pointer{
    cursor: pointer;
}

//mainboard
.mainboard {
    position: relative;
    img{
        width: 100%;
    }
    .title{
        color: white;
        font-size: 2.5rem;
        font-weight: bolder;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
          
    }
}

//tab navs

//sidebar
.points{    
    .redeem-panel{
        // background: conic-gradient(from 45deg, #6DD6F6, #FE736E 50%, yellow 85%, green);
        padding: 15px;
        .panel-group{
            display: flex;
            justify-content: space-between;
            .redeem-btn{
                cursor: pointer;
                padding: 4px 12px;
                margin: 0;
                border-radius: 4px;
                height: fit-content;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.leaderboard{
    .charts{
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        
        .chart-item{
            background-color: darkorange;
            padding-top: 30px;
            color: white;
            position: relative;
            display: flex;
            flex-direction: column;
            background: linear-gradient(165deg, darkorange 0%, rgba(255,192,0,1) 100%);
            width: 30%;
            &.index-0{
                height: 90px;
            }
            &.index-1{
                height: 110px;
            }
            &.index-2{
                height: 80px;
            }
            &::before{
                border-bottom: 20px solid darkorange;
                border-left: 46px solid transparent;
                border-right: 46px solid transparent;
                content: "";
                height: 0;
                left: 0;
                position: absolute;
                top: -20px;
                width: 0;
            }
            .chart-avatar{
                width: 60px;
                height: 60px;
                padding: 2px;
                position: absolute;
                top: -45px;
                border-radius: 50%;
                left: 16px;
                border: 2px solid darkorange;
            }
        }
    }
}

//home
.dashboard{
    margin: 0 auto;
    hr.solid {
        border-top: 1px solid #bbb;
        width: 95%;
        margin: 0 auto;
        
        &:last-child{
            // display: none;
        }
    }
    .slider{
        margin-top: 50px;    
    }
    
}

//my points
.points-summary{
    background-color: #2A3D8D;
    color: white;
    .summary-item{
        text-align: center;
        background-color: white;
        width: 23%;
        padding: 5px 8px;
        color: #333;
        .point-value{
            color: $red-color;
            &.index-0{
                color: $yellow-color;
            }
        }
    }
}
.points-summary-table{
    background-color: white;
    table{
        border-bottom: 2px solid black;
    }
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #FFFFFF;
     }
}
.points-detail-table{
    table{
        border-bottom: 2px solid $detail-header;
    }
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: $detail-stripe;
     }
     th {
        background-color: $detail-header;
        color: white;
    } 
}

//gift-codes
.gift-card{
    position: relative;
    box-shadow: -15px 15px 20px -10px rgba(0,0,0,0.1);
    .gift-icon-wrapper{
        padding: 20px 20px;
        .gift-icon{
            border-radius: 7px;
            width: 100%;
            height: 100px;
        }
    }
    .gift-info{
        padding: 5px 15px 5px 0;
        width: 100%;
        .gift-code{
            padding: 5px 10px;
            background-color: #FFE6B2;
            border: dashed 1px $yellow-color;
        }
        a{
            text-decoration: underline;
            color: $yellow-color;
            text-decoration-color: $yellow-color;
        }
    }
    .gift-amount{
        
        border-radius: inherit;
        border-top: 140px solid $red-color;
        border-left: 70px solid transparent;
        border-right: solid 40px $red-color;
        .amount-wrapper{
            display: none;
            background: linear-gradient(165deg, darkorange 0%, rgba(255,192,0,1) 100%);
            border: 2px solid white;
            color: white;
            margin: auto;
            text-align: center;
            width: 100%;
            height: 70px;
            border-radius: 50%;
        }
        
        &:before {
            content : "";
            position: absolute;
            right: 84px;
            z-index: 100;
            top  : -16px;
            width  : 30px;
            height   : 30px;
            border-radius: 50%;
            // background: #FCFCFC;
            background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        }
        &:after {
            content : "";
            position: absolute;
            right: 84px;
            z-index: 100;
            bottom  : -12px;
            width  : 30px;
            height   : 30px;
            border-radius: 50%;
            // background-color: #FFFFFF;
            background: linear-gradient(rgba(235,235,235,0.8) 0%, rgba(235,235,235,0.8) 50%,rgba(240,240,240,1) 50%, rgba(255,255,255,0) 100%);
            // background: radial-gradient(circle,#FFFFFF 0%, #EEEEEE 100%);
        }    
    }
}

.select-merchant{
    .panel{
        cursor: pointer;
    }    
}

.browse-merchants{
    .merchants-thumbnail{
        .item{
            border-radius: 0.5rem;
            margin: 10px;
            box-shadow: 0 2px 15px 10px rgba(0, 0, 0, 0.05);       
            height: 100%;
            padding: 1rem;
            height: 10rem;
            cursor: pointer;
            &:hover{
                box-shadow: 0 2px 15px 10px rgba($color: $yellow-color, $alpha: 0.3);
            }
            img{
                width: 100%;
                
            }
        }
    }
}

.redeem{
    .get-giftcode{
        img{
            width: 100%;
            box-shadow: 0 2px 15px 10px rgba(0, 0, 0, 0.05); 
            border-radius: 10px;   
            padding: 1rem;
        }
    }
}

.cart-new{
    position: absolute;
    right: 0px;
    margin-right: 35px;
    z-index: 9999;

    .popover{
        max-width: 25%;
        min-width: 25%;

    }
    .cart-item{
        img{
            width: 100%;
        }
    }
}
.checkout{
    table img{
        margin-left: 10px;
        width: 40px;
        height: 30px;
    }
}

.home{
    .popup{
        z-index: 1000;
        &__content{
            border-radius: 10px !important;
            width: 25%;
            min-height: 30%;
            display: flex;
            position: absolute;
            top: 10%;
            .card{
                background-color: white;
                border-radius: 10px;
            }
        }
        &__top{
            position: absolute;
            top: 7%;
            right: 35%;
            color: white;
            cursor: pointer;
        }
    }
    .home-merchant-wrapper{
        padding: 20px;
        margin: 10px;
        border-radius: 10%;
        
        img{
            width: 100px;
            height: 100%;
            margin: auto;
            display: block;
            
        }
    } 
}

.peer-peer{
    // background-color: #126EEE;
    margin-bottom: -30px;
    padding:30px 0 15px 0;
    
    .users{
        border-radius: 10px;
        padding-bottom: 5px;
        background-color: white;
        .header{
            display: flex;
            justify-content: space-between;
            border-radius: 10px 10px 0 0;
            padding: 15px 25px 15px 25px;   
            background-color: #052654;
            .icon {
                color: $manager-yellow;
                padding: 4px;
                position: absolute;
                box-sizing:border-box;
                top:50%;
                right:2px;
                transform: translateY(-50%) rotate(90deg) ;
            }
            &.origin{
                background-image: url(../../../public/original/img/ui-bg_highlight-soft_75_cccccc_1x100.png);
                border: 1px solid #aaa;
                color: #222;   
                .icon {
                    color: #555;
                }
            }
        }
        .dropdowntoggle{
            background-color: white;
            color: black;
            border: 0;
        }
        .wrapper {
            position:relative;    
        }  
        
        
        .input {
            border-radius: 0.25rem;
            border: 0;
            height: 100%;
            padding-left: 1.5rem;
        }        
        thead, tbody, tfoot, tr, td, th{
            padding-top: 1rem;
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
        tr{
            td:last-child{
                width: 100%;
            }
        }
        .action-item{
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            cursor: pointer;
            svg{
                margin-right: 1px;
            }
        }

    }
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 11px;
    background-color: #052654;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    width: 150px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}
.hover-text {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 2em;
}

.space-5 {
    width: 5px;
    display: inline-block;
}

.survey{

}
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

//manager
.manager{
    background-color: $body-back;
    .program-select{
        margin: auto 0;
        text-align: end;
        span{
            padding: 5px;
        }
    }
}
//common -manager

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($color: black, $alpha: 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rounded-panel{
    border-radius: 0.5rem;
    margin-top: 10px;
    box-shadow: 0 2px 15px 10px rgba(0, 0, 0, 0.05);
}
.managerboard{
    
}
.today-panel{
    height: 100%;
    padding: 20px;
    .award-icon{
        border-radius: 15%;
        padding: 7px;
        margin-right: 15px;
    }
    
    &.index-0{
        .award-icon{
            color:$today-green;
            background-color: rgba($color: $today-green, $alpha: 0.2);
        }
        .color{
            color: $today-green;
        }
    }
    &.index-1{
        .award-icon{
            color: $today-red;
            background-color: rgba($color: $today-red, $alpha: 0.2);
        }
        .color{
            color: $today-red;
        }
    }
    &.index-2{
        .award-icon{
            color: $today-purple;
            background-color: rgba($color: $today-purple, $alpha: 0.2);
        }
        .color{
            color: $today-purple;
        }
    }
}

.top-panel{
    height: 100%;
    .title{
        padding: 10px 30px 5px 30px;
        color: white;
        border-radius: 0.5rem 0.5rem 0 0;
        .title-right{
            span{
                margin: auto 20px;
            }
        }
    }
    &.index-0{
        .title{    
            background: linear-gradient(115deg,  #D17C00 0%,#D17C00 52%,#EE9616 52%,#EE9616 53%,#D17C00 53%,#D17C00 55%,#EE9616 55%,#EE9616 100%);
        }
        .dropdowntoggle{
            background-color: rgba($color: #F1AB44, $alpha: 1);
            border: 0;
        }
    }
    &.index-1{
        .title{    
            background: linear-gradient(115deg,  #D70D04 0%,#D70D04 52%,#FD3930 52%,#FD3930 53%,#D70D04 53%,#D70D04 55%,#FD3930 55%,#FD3930 100%);
        }
        .dropdowntoggle{
            background-color: rgba($color: #FD5F58, $alpha: 1);
            border: 0;
        }
    }
    .striped-line{
        padding: 5px;
    }
}

.chart-panel{
    padding: 30px;
    .dropdowntoggle{
        background-color: rgba($color: black, $alpha: 0.05);
        color: black;
        border: 0;
    }
    .title-right{
        span{
            margin: auto 20px;
        }
    }
    canvas{
        width: 100% !important;
        height: 200px !important;
    }
}
.modal{
    background: rgba($color: black, $alpha: 0.5);
    backdrop-filter: blur(2px);
}
.modal-2col{
    display: flex;
    top: 3rem;
    .modal-content{
        flex-direction: row;
        border-radius: 1rem;
        border: none;
    }
    .left{
        background-color: $popup-back; //$manager-yellow
        border-radius: 10px 0 0 10px;
        z-index: 100;
        width: 35%;
        position: relative;
        .title{
            padding: 50px 20px 40px 30px;
        }
        img{
            margin-left: 20px;
            width: 100%;
            &.manage{
                margin-left: 0px;
                bottom: 20px;
            }
        }
    }
    .right{
        padding: 50px 20px 40px 20px;   
        background: white;
        border-radius: 0 10px 10px 0 !important;
        width: 65%;
        .form{
            height: 100%;
            .row{
                margin-top: 0.5rem;
            }
        }
        button{
            border-color: $manager-yellow;
            background-color: $manager-yellow;
        }
    }
    .close{
        position: absolute;
        right:-2rem;
        top:-1.5rem;
        color: white;
    }
}
.modal {
    &.padded{
        .modal-content{
            padding: 0.5rem
        }
    }
    .close{
        position: absolute;
        right:-2rem;
        top:-1.5rem;
        color: white;
    }
}
.leaderboards{
    .nav-tabs{
        a{
            color: black;
            &.active{
                color: black;
                font-weight: bolder;
            }
        }
    }
}
.program-settings{
    .navbar{
        border-top: 3px solid #E3E8F2;
        background-color: white;
        padding: 10px 0 0 0;
        .navs{
            margin: 0 auto;
            ul{
                width: fit-content;
                li{
                    margin-right: 10px;
                }
                a{
                    color: black;
                    &.active{
                        border-bottom: 3px solid $manager-yellow;
                        color: $manager-yellow;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .settingboard{
        .btn-danger{
            background-color: $red-color;
            border-color: $red-color;
        }
        .delete-column{
            color: $red-color;
        }
        .event-table{
            background-color: white;
            .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
                background-color: #FFFFFF;
             }
            .table-striped > tbody > tr:nth-child(2n + 1) > td, .table-striped > tbody > tr:nth-child(2n + 1) > th {
                background-color: $setting-stripe;
            }
        }
    }

}

.manage-reward{
    background-color: #126EEE;
    margin-bottom: -30px;
    padding:30px 0 15px 0;

    .program-select{
        background-color: #3386F9;
        border-radius: 5px;
        color: white;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        span{
            margin: auto;
        }
        .icon{
            transform: rotate(90deg) ;
            border-radius: 50%;
            margin: 5px;
            padding: 6px;
            background-color: #5C9EFA;
        }
        div{
            align-items: center;
        }
    }
    .users{
        border-radius: 10px;
        padding-bottom: 5px;
        background-color: white;
        .header{
            border-radius: 10px 10px 0 0;
            padding: 15px 25px 15px 25px;   
            background-color: #052654;
        }
        .dropdowntoggle{
            background-color: white;
            color: black;
            border: 0;
        }
        .wrapper {
            position:relative;    
        }  
        .icon {
            color: $manager-yellow;
            padding: 4px;
            position: absolute;
            box-sizing:border-box;
            top:50%;
            right:2px;
            transform: translateY(-50%) rotate(90deg) ;
        }
        
        .input {
            border-radius: 0.25rem;
            border: 0;
            height: 100%;
            padding-left: 1.5rem;
        }
        .manag-reward-table{
            background-color: white;
            .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
                background-color: #FFFFFF;
             }
            .table-striped > tbody > tr:nth-child(2n + 1) > td, .table-striped > tbody > tr:nth-child(2n + 1) > th {
                background-color: $user-stripe;
            }
        }
        thead, tbody, tfoot, tr, td, th{
            //padding-top: 1rem;
            padding-left: 1rem;
            //padding-bottom: 1rem;
        }
        tr{
            td:last-child{
                //width: 100%;
            }
        }
        .link{
            cursor: pointer;
        }

        .action-item{
            font-size: 1rem;
            border-radius: 0.25rem;
            cursor: pointer;
            svg{
                margin-right: 1px;
            }
            &.Reward{
                background-color: #E2F4F0;
                color: #48CE76;
            }
            &.Add{
                background-color: #DCEAFC;
                color: #126EEE;
            }
            &.Email{
                background-color: #DFEEF5;
                color: #3396A6;
            }
            &.Resend{
                background-color: #F2F1E6;
                color: #E9B710;
            }

            &.Deactivate{
                background-color: #EAEFF4;
                color: #E55E5E;
            }
            &.Import{
                background-color: #F2E8EE;
                color: #9E9E9E;
            }
            &.Peer{
                background-color: #E6E6FC;
                color: #7048EC;
            }
        }
    }

    .status{
        color: white;
        span{
            &:first-child{
                padding-right: 20px;
                border-right: 2px solid white;
            }
            &:last-child{
                padding-left: 20px;
            }
        }
    }
    
}

.invite-participant{
    width: 30%;
    border-radius: 1rem;
    background-color: white;
    padding: 2.5rem;
    margin: 6rem auto;
    .row{
        margin-bottom: 1rem;
    }
    .title{
        text-align: center;
    }
    .program-select{
        margin: 0.5rem 0 1rem 1rem;
        
    }
    button{
        border-color: $manager-yellow;
        background-color: $manager-yellow;
    }
}
.report{
    background-color: #126EEE;
    padding:30px 0 15px 0;
    .program-select{
        background-color: #3386F9;
        border-radius: 5px;
        color: white;
        padding: 0.5rem 1rem;
        // padding-right: 1rem;    
    }
    .report-data{
        .filter{
            border-radius: 10px 10px 0 0;
            padding: 0.5rem 1rem;   
            background-color: #052654;
            color: white;
        }
    }
    

}
footer{    
    width: 100%;
    height: 100px;
    background-color: black;
    padding: 20px;
    color: white;
    margin-top: 30px;
    // position:absolute;
    // bottom: 0;
    .teritery-menu{
        ul{
            float: right;
        }
        ul.horizontal li {
            a{
                border-right: solid 1px;
                padding: 0 10px;
                color: white;       
            }   
            &:last-child a{
                border-right: 0;
            }
        }
    }
}

.form-error{
    margin-top: 0.25rem;
    color: #dc3545;
}
.apiError-wrap.form-error{
    margin-top: 0.25rem;
    color: #fff;
    text-align: center;
    ul, ol {
        padding-left: 15px;
        margin-bottom: 0;
        list-style-image: url('../../shared/img/circle.svg');
    }
}
.w100{width:100%;}
.form-label{margin-bottom:0}
.form__form-group-input-wrap{display:flex;}
.alert-danger{background-color: #FF3930;}
.dropdown-group > div{margin-right: 5px;}
.flash-message .alert{padding: 0.4rem 0.4rem;}
.flash-message .alert-success {
    background-color: #00cc3f;
    border-color: #00b538;
    border-radius: 0;
}

/**
 * Social Wall
 */
.social-wall-panel-New{
    max-height: 600px;
    overflow-y: auto;
    background: #f7f8fa;
}
.click-btn {
    padding: 4px 8px;
    cursor:pointer;
}
.add-new-post {
    width:130px;
}
.social-wall-panel-New .social-wall-item{
    padding: 30px 20px;
    .comment-btn, .delete-activity-btn{
        margin-bottom: 5px;
        position: absolute;
        right: 0px;
        margin-right: 10px;
    }
    .title {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .icon{
        color: $yellow-color;
    }
    .flex-column {
        padding: 5px;
    }
    .from {
        min-width: 150px;
    }
    .datetime {
        font-size: 14px;
        color: #999999;
        font-weight: bold;
    }
    .comments {
        padding: 5px 5px 5px 30px;
    }
    .comment {
        padding: 5px 5px 10px 5px;
        margin-bottom: 5px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }
    .commentDate {
        padding: 2px;
        font-size: 14px;
        color: #999999;
        text-align: right;
        font-style: italic;
    }
    .deleteComment {
        cursor: pointer;
        float: right;
    }
    .deleteComment:hover {
        text-decoration: underline;
    }
}

.social-wall-panel-Original {
    background: transparent;
    margin: 20px;
    overflow-y: scroll;
    min-height: 200px;
}

.social-wall-panel-Original .social-wall-item-header {
    font-weight: bold;
    font-size: 1.4em;
}
.social-wall-panel-Original .social-wall-item-header td{
    padding: 10px;
}

.social-wall-panel-Original .social-wall-item-notification-body {
    text-align: center;
    //border: 1px solid #999999;
}
.social-wall-panel-Original .social-wall-item-notification-body td {
    padding: 5px 10px;
}

.social-wall-panel-Original .social-wall-comment td {
    padding: 5px 10px;
}

.social-wall-panel-Original .social-wall-item-from {
    font-weight: bold;
    font-size: .80em;
}

.social-wall-comment-text-right {
    text-align: right;
}

.circular--portrait {
    position: relative;
    width: 50px; height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.circular--portrait img {
    width: 100%;
    height: auto;
}

.tr-spacing {
    padding-bottom: 1em;
}

.social-wall-panel-Original .social-wall-time {
    font-style: italic;
    font-size: .80em;
    color: #999999;
}

.social-wall-panel-Original .social-wall-post-comment-container {
    float: right;
    padding-top: 10px;
}

.social-wall-panel-Original .social-wall-comment {
    border: 1px solid #999999;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #F2F3F5;
}

.social-wall-panel-Original .social-wall-comments-container
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-wall-panel-Original .social-wall-comments-container
{
    padding: 5px 0px 5px 0px;
}

.social-wall-panel-Original .social-wall-post-tl,
.social-wall-panel-Original .social-wall-post-tr,
.social-wall-panel-Original .social-wall-post-bl,
.social-wall-panel-Original .social-wall-post-br
{
    height: 24px;
    width: 24px;
}

.social-wall-panel-Original .social-wall-post-tl{
    background: url('../../../public/original/img/social_wall/social-post-tl.png') 0px 0px no-repeat;
}

.social-wall-panel-Original .social-wall-post-tr{
    background: url('../../../public/original/img/social_wall/social-post-tr.png') 0px 0px no-repeat;
}

.social-wall-panel-Original .social-wall-post-t{
    background: url('../../../public/original/img/social_wall/social-post-t.png') 0px 0px repeat-x;
}

.social-wall-panel-Original .social-wall-post-l{
    background: url('../../../public/original/img/social_wall/social-post-l.png') 0px 0px repeat-y;
}

.social-wall-panel-Original .social-wall-post-r{
    background: url('../../../public/original/img/social_wall/social-post-r.png') 0px 0px repeat-y;
}

.social-wall-panel-Original .social-wall-post-bl{
    background: url('../../../public/original/img/social_wall/social-post-bl.png') 0px 0px no-repeat;
}

.social-wall-panel-Original .social-wall-post-br{
    background: url('../../../public/original/img/social_wall/social-post-br.png') 0px 0px no-repeat;
}

.social-wall-panel-Original .social-wall-post-b{
    background: url('../../../public/original/img/social_wall/social-post-b.png') 0px 0px repeat-x;
}

//.social-wall-panel-Original .social-wall-post-tail{
//    height: 55px;
//    width: 75px;
//    background: url('../../../public/original/img/social_wall/social-post-tail.png') 0px 0px no-repeat;
//}

.template-button {
    padding: 5px 8px;
    cursor: pointer;
    // border-color: transparent !important;
    transition: none !important;
    box-shadow: none !important;
}
.template-button:hover {
    /* Darken on click by 15% (down to 85%) */
    filter: brightness(0.9);
}
.template-button:before {
    height: auto !important;
    width: auto !important;
}
.template-button.lg {
    padding: 10px 20px;
}
.template-button.marginRight5 {
    margin-right: 5px;
}
.template-button.width100 {
    display: block;
    width: 100%;
}

.login-form-wrap{
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
    .card{
        min-width: 30%;
    }
    .apiError-wrap{
        padding: 10px 5px;
        margin-bottom:1em;
    }
    .apiError-list{
        margin-bottom: 0;
    }
}
.modal-dialog {
    margin: 3rem auto !important;
}
.border_hover_div{
    width: 100%;
    min-height: 64px;
    cursor: pointer;
    border: 1px solid #f2f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
        background-image: linear-gradient(-45deg , #eff1f5 25%, transparent 25%, transparent 50%, #eff1f5 50%, #eff1f5 75%, transparent 75%, transparent);
        background-size: 30px 30px;
        animation: striped 2s linear infinite;
    }
    .text{
        margin: auto;
        color: #4291D8;
    }
    .email_icon{
        height: 75px;
        img{
            height: 100%;
            width: auto;
        }
    }
}

.img_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li{ 
        min-width: 124px;
        padding: 8px;
        margin: 0;
        color: #3c434a;
        cursor: pointer;
        list-style: none;
        text-align: center;
        -webkit-user-select: none;
        user-select: none;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    li.active{
        box-shadow:  0 0 0 3px #fff, inset 0 0 0 3px #2271b1
    }

    li > div.preview{
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: inset 0 2px 15px rgba($color: #000000, $alpha: 0.1);
        background: #f0f0f1;
        cursor: pointer;
        width: 100%;
        height: 120px;
        padding: 2px;
        justify-content: center;
        img{
            max-width: 104px;
            max-height: 104px;
        }
        .delete-icon-icon{position: absolute;bottom:0;right: 0;}
    }
}
.justify-content-right{justify-content: right !important;}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}

.dropzone-iconupload
{
    .dropzone__img
    {
        background-size: contain;
        min-width: 150px;
    }
}

/* home page slider */
.carousel-item {
    @media (max-width: $xs) {
    }
    @media (min-width: $sm-from) and (max-width: $sm-to) {
        max-height: 500px;
    }
    @media (min-width: $md-from) and (max-width: $md-to) {
        max-height: 500px;
    }
    @media (min-width: $lg) {
        max-height: 500px;
    }
}