
body {
    font-family: 'CircularStdBold', sans-serif !important;
  }

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #333;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

$red-color:#DA282D;
$yellow-color: #FDC107;

a{
    text-decoration: none;
    color: black;    
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    li{
        float: left;
    }
}



.btn-round{
    background-color: $red-color;
}
.btn-rect{
    background-color: $red-color;
    border: 0;
}

.panel{
    margin-top: 10px;
    box-shadow: 0 2px 15px 10px rgba(0, 0, 0, 0.05);
}
.matching{
    display: flex;
    padding: 7px 13px;
    justify-content: space-between;
}
.black{
    background-color: black;
    color: white;
}
.red{
    background-color: $red-color;
    color: white;
}

//mainboard
.mainboard img{
    width: 100%;
}

//tab navs

//sidebar
.points{    
    .redeem-panel{
        // background: conic-gradient(from 45deg, #6DD6F6, #FE736E 50%, yellow 85%, green);
        padding: 15px;
        .panel-group{
            display: flex;
            justify-content: space-between;
            .redeem-btn{
                padding: 4px 12px;
                margin: 0;
                border-radius: 4px;
                height: fit-content;
            }
        }
    }
}

.leaderboard{
    .charts{
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        
        .chart-item{
            background-color: darkorange;
            padding-top: 30px;
            color: white;
            position: relative;
            display: flex;
            flex-direction: column;
            background: linear-gradient(165deg, darkorange 0%, rgba(255,192,0,1) 100%);
            width: 30%;
            &.index-0{
                height: 90px;
            }
            &.index-1{
                height: 110px;
            }
            &.index-2{
                height: 80px;
            }
            &::before{
                border-bottom: 20px solid darkorange;
                border-left: 39px solid transparent;
                border-right: 39px solid transparent;
                content: "";
                height: 0;
                left: 0;
                position: absolute;
                top: -20px;
                width: 0;
            }
            .chart-avatar{
                width: 60px;
                height: 60px;
                padding: 2px;
                position: absolute;
                top: -45px;
                border-radius: 50%;
                left: 12px;
                border: 2px solid darkorange;
            }
        }
    }
}

//home
.dashboard{
    margin: 0 auto;
    .welcome{
        width: 70%;   
        margin-bottom: 20px;
    }    
    .rewards-panel{
        height: 500px;
        overflow-y: auto;

    }
    .reward-item{
        padding: 30px 20px;
        .comment-btn{
            padding: 7px 13px;
            display: flex;
            height: fit-content;
        }
    }
    hr.solid {
        border-top: 1px solid #bbb;
        width: 95%;
        margin: 0 auto;
        &:last-child{
            display: none;
        }
    }
    .slider{
        margin-top: 50px;    
    }
    
}

//my points
.points-summary{
    background-color: #2A3D8D;
    color: white;
    .summary-item{
        text-align: center;
        background-color: white;
        width: 23%;
        padding: 5px 8px;
        color: #333;
        .point-value{
            color: $red-color;
            &.index-0{
                color: $yellow-color;
            }
        }
    }
}
.points-summary-table{
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #F5F7FF;
     }
}
.points-detail-table{
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #FFF8EA;
     }
     th {
        background-color: #E29400;
        color: white;
    } 
}


footer{    
    width: 100%;
    background-color: black;
    padding: 20px;
    color: white;
    
}
footer .teritery-menu{
    ul{
        float: right;
    }
    ul.horizontal li {
        a{
            border-right: solid 1px;
            padding: 0 10px;
            color: white;       
        }   
        &:last-child a{
            border-right: 0;
        }
    }
}
