//topbar
$yellow-color: #FCB040;
$gray-color: #c0c0c0;

.topbar {
    // background-color: white;
    width: 100%;
    padding-top: 20px;
    min-height: 60px;
    // z-index: 101;
    // &.home{
    //     .navbar{
    //         margin: 0 1rem 0 1rem;
    //     }
    //     padding-top : 30px;
    //     background-color: rgba($color: white, $alpha: 0.6);
    //     position: absolute;
    //     top: 1rem;
    //     .navbar-brand img{
    //         max-width: 200px;
    //         max-height: 90px;

    //     }
    //     .navbar-collapse{
    //         justify-content: flex-end;
    //     }
    //     ul.horizontal .item{
    //         padding: 10px 20px;
    //         margin-top: 10px;
    //         background-color: $yellow-color;
    //         color: white;
    //         cursor: pointer;
    //         font-size: larger;
    //         &:hover{
    //             color: black;
    //         }
    //     }
    // }
}

.topbar__wrapper{
    display: flex;
    margin-top: -10px;
    align-items: center;

    .navbar{
        width: 100%;
    }
    .topbar__left {
        display: flex;
        height: 100%;
        margin-bottom: 10px;
    }

    .navbar-collapse {
        // margin: 0 auto;
        justify-content: center;
        height: 100%;    
        margin-bottom: 10px;
        ul.horizontal a{
            padding: 10px 10px;
            &.active{
              //color: $gray-color;
            }
            &:hover{
                color: $gray-color;
            }
        }
        
    }

    .topbar__right {
        display: flex;
        height: 100%;
        margin-bottom: 15px;
    }
}

// .topbar__logo {
//     width: 150px;
//     height: 32px;
//     margin: auto 0;
//     background-repeat: no-repeat;
//     background-position-y: center;
//     background-position-x: left;
//     background-size: contain;
//     background-image: url(../../../shared/img/logo/logo_light.svg)
// }

.topbar__profile {
  position: relative;
  margin-bottom: 0;

  .dropdown{
      cursor: pointer;
      .dropdown-toggle{
          color: black;
          img{
              border-radius: 50%;
              width: 50px;
              height: 50px;
              margin-right: 0.5em;
          }
          &:after {
            /* margin-left: 0.255em; */
            
            margin: auto 1em;
          }
        
      }
      .dropdown-menu{
          right: 0;
      }
  }

  .topbar__avatar {
    height: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 0;
    border: none;
    transition: all 0.3s;
    box-shadow: none;
    padding: 0 15px;
    background-color: transparent;

    .topbar__avatar-img {
        border-radius: 50%;
        max-height: 50px;
        max-width: 50px;
        object-fit: cover;
    }

    .topbar__avatar-name{
        text-align: left;
        font-weight: bold;
    }

  }
  
}

.navbar-light {
    .navbar-brand {
        img{
            max-width: 200px;
            max-height: 60px;
        }
    }
}