.sidebar {
    position: relative;
}
.mainboard {
    .menuBtn{
        position: absolute;
    }
}
.menuBtn{
    height: 23px;
    width: 35px;
    position: relative;
    top: -30px;
    left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    // transition: all 450ms ease-in-out;
    // &.closer {
    //     transform: rotate(180deg);
    // }

    &.fixed{
        position: relative;
        display: none;
    }
    .line{
        transition: all 450ms ease-in-out;
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
        &:nth-child(1).closer:not(.fixed) {
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out; 
                transform: rotate(35deg);
        }
        &:nth-child(2) {
            &.closer:not(.fixed){
                transition: transform 0.2s ease-in-out;
                transform: scaleY(0);
            }
        }
        &:nth-child(3) {
            &.closer:not(.fixed){
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
                transform: rotate(-35deg);
            }
        }
    }
}

.menuOverlay{
    // max-height: 62.5vh !important;
    // width: 305px;
    
    display: none;
    flex-direction: column;
    margin-left: -10px;
    padding-left: 1vw;
    padding-top: 1vw;
    z-index: 2;
    // position: absolute;
    // top: 0;
    // left: 0;
    opacity: 0.94 !important;
    background-color: #F5F8FC;
    box-shadow: 5px 0px 10px 0px #aaa;
    width: 27vh;
    min-width: 300px;
    max-width: 350px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    &.show {
        transform: translateX(0%);     
        display: flex;
    }
    &.fixed{
        margin-left: 1vw;
        position: relative;
        margin-right: 15px;
    }
    li{
        margin-bottom: 1.1rem;
        margin-left: 1.5rem;
        a{
            font-size: 1.1rem;
            font-weight: 500;
            color: #000000 !important;
        }
        
    }
}

